@define-color flamingo  #f2cdcd;
@define-color pink  #f5c2e7;
@define-color mauve  #cba6f7;
@define-color red  #f38ba8;
@define-color maroon  #eba0ac;
@define-color peach  #fab387;
@define-color yellow  #f9e2af;
@define-color green  #a6e3a1;
@define-color teal  #94e2d5;
@define-color sky  #89dceb;
@define-color sapphire  #74c7ec;
@define-color blue  #89b4fa;
@define-color lavender  #b4befe;
@define-color text  #cdd6f4;
@define-color subtext1  #bac2de;
@define-color subtext0  #a6adc8;
@define-color overlay2  #9399b2;
@define-color overlay1  #7f849c;
@define-color overlay0  #6c7086;
@define-color surface2  #585b70;
@define-color surface1  #45475a;
@define-color surface0  #313244;
@define-color base  #1e1e2e;
@define-color mantle  #181825;
@define-color crust  #11111b;

* {
    font-family: Atkinson Hyperlegible Mono;
    font-weight: bold;
    letter-spacing: 0.025em;
    font-size: 12px;
    min-height: 0;
    padding-right: 2px;
    padding-left: 2px;
    padding-bottom: 0px;
}

#waybar {
    background: @base;
    color: @text;
    margin: 2px 2px;
}

#workspaces {
    border-radius: 5px;
    margin: 5px;
    background: @crust;
    margin-left: 2px;
}

#workspaces button {
    color: @text;
    border-radius: 5px;
    padding: 0.4rem;
}

#workspaces button.active {
    color: @mauve;
    border-radius: 5px;
}

button {
    background: transparent;
}

#workspaces button:hover {
    background: @base;
    border: 0px solid transparent;
}

#custom-music,
#tray,
#backlight,
#clock,
#battery,
#pulseaudio,
#network,
#cpu,
#memory,
#custom-lock,
#custom-power,
#custom-weather,
#custom-uptime,
#custom-docker {
    background-color: @crust;
    padding: 0.5rem 0.75rem;
    margin: 5px 0;
}

#clock {
    color: @sky;
    border-radius: 0;
}

#tray {
    border-radius: 0px 5px 5px 0px;
}

#battery {
    color: @text;
    border-radius: 0;
}

#battery.charging {
    color: @green;
}

#battery.warning:not(.charging) {
    color: @red;
}

#backlight {
    color: @yellow;
}

#backlight {
    border-radius: 0;
}

#pulseaudio {
    color: @red;
    border-radius: 5px 0px 0px 5px;
}
